#root {
  max-width: 1480px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Header {
  background-color: rgb(83, 60, 31);
  padding-top: 5px;
  padding-bottom: 5px;
}

.NavigationHeader {
  display: flex;
  justify-content: space-evenly;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Card {
  background-color: rgb(155, 90, 90);
  padding:10px;
  margin-right: 30px;
  margin-bottom: 30px;
  width:250px;
  border-radius: 10px;
}

.Filter {
  background-color: rgb(100, 100, 60);
  padding-top:30px;
  padding-bottom:5px;
  width:730px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 5px;
}

.ChooseCusine {
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  padding-bottom:15px;

}

.SearchBar {
  width:400px;
  height:40px;
  margin-bottom: 10px;
}

.FilterButton {
  width:150px;
  height:35px;
  border-radius: 5px;
  background-color: rgb(73, 73, 35);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.FilterButton:hover {
  cursor: pointer;
}


.List {
  background-color:rgb(64, 64, 88);
  padding-top: 10px;
  padding-bottom: 25px;
  border-radius: 5px;
}

.ListItem {
  background-color: rgb(51, 51, 77);
  border: 5px solid rgb(64, 64, 88);
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}


th {
  height:50px;
  width:300px;
}


td {
  height:50px;
  width:300px;
  padding-left: 10px;
}

.DetailView {
  background-color: rgb(43, 77, 82);
  margin-top: 20px;
  padding-top:5px;
  padding-bottom:10px;
  border-radius: 5px;
  padding-left: 100px;
  padding-right: 100px;
}

.About {
  background-color:rgb(87, 87, 47);
  padding-bottom: 5px;
  max-width: 1000px;
  margin: 0 auto;
}

.About h1 {
  padding-top: 8px;
}

.DataVisuals {
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.DataVisualsButton {
  width:300px;
  height:50px;
  background-color: rgb(26, 77, 77);
  border-radius: 5px;
  border:none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.DataVisualsButton:hover {
  background-color: rgb(75, 175, 175);
  cursor: pointer;
}

.BarChartVisual {
  background-color:rgb(44, 32, 59);
  padding-top:5px;
  padding-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}